---
const { collapsible, content, id } = Astro.props;
---

<article class="faqcontainer">
  <input class="faqcheckbox" type="checkbox" name={id} id={id} />
  <label class="faqlabel" for={id}>
    <img src="/src/assets/faqbutton.svg" alt="button" class="faqicon" />
    <p class="faqcollapsible">{collapsible}</p>
  </label>
  <p class="faqcontent">{content}</p>
</article>

<style>
  /* FAQ Container */
  .faqcontainer {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    background-color: #fad6c5;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 32px;
  }

  /* Checkbox and active states */
  .faqcheckbox {
    display: none;
  }

  .faqcheckbox:checked ~ .faqlabel .faqicon {
    transform: rotate(180deg);
  }

  .faqcheckbox:checked ~ .faqcontent {
    max-height: 300px; /* Hvis meget tekst; skru op */
    padding-top: 14px;
    padding-bottom: 14px;
  }

  /* Label / Ikon+Collapsible wrapper */
  .faqlabel {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  /* Ikon-styling */
  .faqicon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    transition: transform 0.2s ease;
  }

  /* Collapsible */
  .faqcollapsible {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    user-select: none;
    font-family: "Roboto", sans-serif;
    color: #3f0f0b;
  }

  /* Indhold styling */
  .faqcontent {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3f0f0b;
    width: 100%;
    padding-left: 48px;
    margin: 0;

    /* isClosed */
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease;
  }
</style>
<script></script>
